{% load static from staticfiles %}
{% load require %}

<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>
		Loviz DelCarpio | Donde encontras los mejores pantuflas, sandalias y calzado.
	</title>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description" content="Loviz DelCarpio® , Encontraras lo mejor en pantuflas, sandalias, botas, flats y demas. Envio Gratis para todo el peru por compras mayores a S/.60.00" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="//s3-us-west-2.amazonaws.com/lovizfront/img/logodelcarpio2_1.ico" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans|Great+Vibes|Pathway+Gothic+One"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/iconos.css" %}" />
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" />
    <link rel="stylesheet" href="{% static "css/owl.theme.css" %}" />
    <link rel="stylesheet" href="{% static "css/owl.transitions.css" %}" />
    <link rel="stylesheet" href="{% static "css/app2.css" %}" />
    
</head>
<body id="default" class="mobile-layout">
	<div id="header">
      <header>
        <section class="header-mobil"></section>
        <section class="header-utility box_contraste container-fluid">
          <div class="row">
            <section class="header-utility-shipping col-md-12"></section>
            <div id="header-utility-shipping" class="col-md-7">
              <h6>Envio Gratis para compras mayores a S/.60.00</h6>
            </div>
            <nav class="secondary-nav col-md-5">
              <ul class="menu-utilitys nav nav-pills pull-right">
                <li><a href="/">Lista Deseos</a></li>
                <li><a href="/">Chat en vivo</a></li>
                <li><a href="/">Ayuda</a></li>
              </ul>
              <ul id="menu-link-user" class="menu-utilitys-user nav nav-pills pull-right"></ul>
            </nav>
          </div>
        </section>
        <section class="header-global">
          <div class="container-fluid">
            <div class="inner-container row">
              <h1 class="primary-logo col-md-3"><a href="/" class="link"><span>Loviz DelCarpio</span></a></h1>
              <div id="navigation" class="col-md-9">
                <nav class="primary-nav">
                  <ul class="nav nav-pills">
                    <li><a href="/catalogo/mujer/" class="link">Mujer</a></li>
                    <li><a href="/catalogo/hombre/" class="link">Hombre</a></li>
                    <li><a href="/catalogo/nino/" class="link">Niños</a></li>
                    <li><a href="/catalogo/nina/" class="link">Niñas</a></li>
                    <li><a href="/catalogo/ofertas/" class="link">Ofertas</a></li>
                    <li><a href="/catalogo/novedades/" class="link">Novedades</a></li>
                  </ul>
                </nav>
              </div>
              <div class="right-nav-btns">
                <div id="mini-cart">
                  <div class="mini-cart-total"><span class="icono icon-shopping-cart">#</span><span class="mini-cart-label"></span><span class="mini-cart-empty">(0)</span></div>
                </div>
                <div id="mini-Listas"></div>
                <div id="nav-sidebar-user" class="nav-sidebar top_side">
                  <!--include ../sidebar_user/template.jade-->
                </div>
              </div>
            </div>
          </div>
        </section>
      </header>
    </div>
    <div id="wrapper">
      <div id="main">
        <div id="contenido">
        </div>
      </div>      
      <div id="footer">
        <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-6 footer-block">
                  <div class="footer-email">
                    <h4>Se el Primero en saber de loviz delcarpio</h4>
                    <div id="submit_email_wrapper" class="email_container">
                      <form id="submit_form_email">
                        <div class="email_input">
                          <input class="form-control" type="email" maxlength="50" placeholder="Ingresar tu correo">
                        </div>
                        <div class="email_submit">
                          <button type="submit" class="boton_email_subtit">
                            <span class="glyphicon glyphicon-menu-right"></span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 footer-block-menu">
                  <h4 class="titulo-footer-menu">Necesita Ayuda?</h4>
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="">Preguntas Frecuentes</a></li>
                    <li><a href="">Medios de Pago</a></li>
                    <li><a href="">Sobre el Envio</a></li>
                    <li><a href="">Chat en linea</a></li>
                    <li><a href="">Cambio y devoluciones</a></li>              
                    <li><a href="">Compra Segura</a></li>
                  </ul>  
                </div>
                <div class="col-md-2 footer-block-menu">
                  <h4 class="titulo-footer-menu">Acerca Loviz DelCarpio</h4>
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="">Historia</a></li>
                    <li><a href="">Politicas de envio y devoluciones</a></li>
                    <li><a href="">Informacion de Contacto</a></li>
                    <li><a href="">Mapa del Sitio</a></li>
                    <li><a href="">Testimonios de Clientes</a></li>
                    <li><a href="">Libro de Reclamaciones</a></li>
                  </ul>  
                </div>
                <div class="col-md-2 footer-block-menu">
                  <h4 class="titulo-footer-menu">Informacion de Producto</h4>
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="">Conversion de Medidas</a></li>
                    <li><a href="">Material Usado</a></li>
                    <li><a href="">Glosario de Terminos</a></li>
                  </ul>  
                  <h4 class="titulo-footer-menu">Enlaces Rapido</h4>                  
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="">Mi cuenta</a></li>
                    <li><a href="">Registrarme</a></li>
                    <li><a href="">Mi lista de Deseos</a></li>
                    <li><a href="">Mis pedidos</a></li>
                  </ul>  
                </div>
                <div class="col-md-12">
                  <div class="bloque_social">
                    <ul class="">
                      <li><span class="icon-facebook"></span></li>
                      <li><span class="icon-twitter"></span></li>
                      <li><span class="icon-instagram"></span></li>
                      <li><span class="icon-youtube3"></span></li>
                      <li><span class="icon-google-plus"></span></li>
                      <li><span class="icon-pinterest"></span></li>
                    </ul>
                  </div>
                  <div class="pie_pagina">
                    <ul>
                      <li class="derechos">
                        © 2015 Loviz DelCarpio Boutique. Todos los Derechos Reservados
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </footer>
      </div>
    </div>
    <div class="modales">
      <div id="mini_compra" class="modal fade"></div>
    </div>
    <div class="includes_js">
      {%include 'templatejs/page_tlp_js.html'%}
      {%include 'templatejs/catalogo_tlp_js.html'%}
      {% include 'templatejs/carro_tlp_js.html' %}
      {% include 'templatejs/user_tlp_js.html' %}
      {% include 'templatejs/productosingle_tlp_js.html' %}
      {% include 'templatejs/procesar_tlp_js.html' %}
    </div>


     {% require_module 'main' %}   
</body>
</html>