{% load static from staticfiles %}

<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>
		Loviz DelCarpio :: Oficina
	</title>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description" content="Oficina interna de Loviz DelCarpio" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/iconos.css" %}" />
    <link rel="stylesheet" href="{% static "css/oficina.css" %}" />
</head>
<body id="default" class="mobile-layout">
    <header class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="/oficina/" class="link">Oficina Loviz DelCarpio</a>
            </div>
            <div class="col-md-5">
                <ul class="list-inline">
                    <li>
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-user"></span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main container-fluid">
        <div class="row">
            <div class="aside col-md-2">
                <nav>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/oficina/" class="link">Inicio</a></li>
                        <li><a href="/oficina/catalogo/" class="link">Catalogo</a></li>
                        <li><a href="/oficina/pedidos/" class="link">Pedidos</a></li>
                        <li><a href="/oficina/clientes/" class="link">Clientes</a></li>
                    </ul>
                </nav>
            </div>
            <div id="content" class="content col-md-10">
            </div>
        </div>
    </div>
    <script data-main="{% static 'js/oficina' %}" src="{% static 'js/require.js' %}"></script>
</body>
</html>