
	div#primary
		h1.current-customer-logout
			span.account-sub-header	Bienvenidos
			span.pipe |
			span.first-name Enrique
			span.last-name Lopez
			span.account-logout (Salir)
		.account-landing
			div.content-asset
				#welcomeInfo.margin-bot-20
					div#leftInfo
						h3 Informacion de Cuenta
						a(href="/").acctNavLinks.link Administre su correo electronico y la informacion de inicio de sesion
						br
						br
						h3 Direccion
						a(href="/").acctNavLinks.link Gestiona tus direcciones de facturacion y envio
						br
						br
						h3 Informacion de Pago
						a(href="/").acctNavLinks.link Manejo de pagos y metodos
						br
						br
						h3 Pedidos
						a(href="/").acctNavLinks.link Cpmpruebe el estado de sus pedidos
						br
						br
						h3 Lista de Deseos
						a(href="/").acctNavLinks.link Ver o modificar productos de la lista o invitar amigos.
					div#rightInfo

	div#secundary.nav
		nav
			div.secondary-navigation
				div.content-asset
					ul.account-nav-top
						li
							ul.account-logout-nav
								li.navlink
									a(href="/").btn.btn-default Salir
						li
							ul.account-settings-nav
								li
									h3 Configuraciones de la Cuenta
								li.navlink.personal-information
									a(href="/").link Informacion Personal
								li.navlink.billing-shipping-address
									a(href="/").link Facturacion y envio Direccion
								li.navlink.payment-settings
									a(href="/").link Ajustes de Pago
						li
							ul.order-history-nav
								li
									h3 Historial de Pedidos
								li
									a(href="/") Mira tu historial de pedidos
						li
							ul.wish-list-nav
								li
									h3 Lista de Deseos
								li
									a(href="/") Modifica e Invita amigos
