naranja = #C2A125

.procesar_pago
	h4
		font-size 20px
		margin 10px 0
		.required-label
			float right
			font-size 14px
			font-style italic
			&:before
				content " * "
				color naranja
				font-size 2em	
	.columnas_pago
		display flex
		margin-top 40px
		.pasos
			width 70%
			margin 0 20px
		.resumen
			width 30%
		.section_panel
			margin-bottom 30px
			position relative
			&.is-activo
				.panel_header
					background #111
					color #fff
				.panel_cuerpo
					display block
			.panel_header
				cursor pointer
				background #f4f4f4
				padding 18px 30px
				transition .2
				h3
					margin 0
					font-size 20px
			.panel_cuerpo
				display none
			.panel_seccion
				padding 22px 30px 8px
				border-bottom 2px solid #F4F4F4
				border-right 2px solid #F4F4F4
				border-left 2px solid #F4F4F4
				position relative
				min-height 88px
			.panel_seccion_final
				padding 30px
				background #f4f4f4
				min-height 10px
				overflow hidden
				.requiere_label
					&:before
						content " * "
						color naranja
						font-size 2em
				button
					float right
					