div.productos
	a(href="/").link
		figure
			img(src="https://lovizheroku.s3.amazonaws.com/cache/ef/ea/efeace296d99246df16b806bae6b0733.jpg?Signature=cU4wa77gtH9RL2%2Bqiv1NU%2BlZ%2F7k%3D&Expires=1442252693&AWSAccessKeyId=AKIAJ72NK22HKCBDACGQ")
		.nombre_productos
			span Este es el titulo
			span.color_productos Ese es el color
		.precios
			div.old_precio
				span S/. 19.00
			div.current_precio
				span S/. 20.00