
div#primary.primary-content
	div#secundary.refinements.js-off-canvas
		aside.js-panel.from-right
			div#refinamientoCategoria.refinement.Categoria
			div.refinement.Size
				h3.toogle
					span Talla
				ul.clearfix.swatches.Size
					li
						span(data-talla="35-36") 35 - 36
					li
						span(data-talla="35-36") 35 - 36
					li
						span(data-talla="35-36") 35 - 36
			div.refinement.Color
				h3.toogle
					span Color
				ul.clearfix.swatches.Color
					li
						span(data-color="35-36") Fucsia
					li
						span(data-color="35-36") Rojo
					li
						span(data-color="35-36") Verde
	div.search-result-wrapper
		div.titulo-categoria
			h1.titulo Este es el titulo de la categoria
				small --Estilo--
			div.descripcion
				p Este seria una pequeña descripcion de la categoria que dictamina q se muestra en la busqueta
			div.resultados
