f_imprenta = 'BenchNine', sans-serif;
f_imprenta2 = 'Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;
//Colores
rojo = #b94a48;
verde = #468847;
naranja = #C2A125;

@import 'nib'

body
	font-size 16px
	margin 0
	font-family 'Josefin Sans', sans-serif
	line-height 1.4
	color #333
	.header-account.sidebar
		background-color rgba(255,255,255,.9)
	.right-nav-btns .nav-sidebar
		z-index 1
		background-color transparent
	img
		width 100%
//Typografia
.blog-post h1, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
	font-family f_imprenta
	font-weight 700
	line-height 1.1
	color inherit
	letter-spacing 2px
	text-transform uppercase
.blog-post h1, .h3, h3
	font-size 28px
.blog-post h1, h1, h2, h3
	margin-top 22px
	margin-bottom 11px

h1,h2,h3,h4,h5,h6
	font-family f_imprenta
	letter-spacing 2px
h1
	font-size 41px
	font-weight 700
h2
	font-size 32px
a
	color #111
	text-decoration none
	&:hover
		color #000
		text-decoration underline
		outline 0
.font-italic
	font-style italic
//Helpers
.margin-bot-0
	margin-bottom 0!important
.margin-bot-20
	margin-bottom 2em!important
.text-center
	text-align center
.text-rigth
	text-align right
.aling-rigth
	float right
.overflow
	overflow hidden
//Fin de Helpers
ul
	list-style none
.login-box, .box
	background #fff
	margin 0 0 2em
	border 1px solid #f4f4f4
.box-content
.login-box-content
	padding 1em
fieldset
	padding 0
	margin 0
	border none
.section-header
	background 0 0
	border-bottom 1px solid #f4f4f4
	font-size 1.1em!important
	font-family f_imprenta
	font-weight inherit
	letter-spacing 2px
	margin 0
	padding 1em
	position relative
	text-transform uppercase
	line-height 1.1
.sidebar-overlay
	background-color rgba(255,255,255,.6)
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index 100
	display none
//Botones
button,.btn
	padding 8px 9pt
	font-size 1pc
	line-height 22px
	border-radius 0
	letter-spacing 2px
	display inline-block
	margin-bottom 0
	font-family f_imprenta
	font-weight 400
	text-aling center
	vertical-align middle
	cursor pointer
	background-image none
	border 1px solid transparent
	white-space nowrap
	text-transform uppercase
	&.border-gold-white-btn
		border-color #fff
	&.btn-contraste
		background-color #111
		border-color #111
		color #fff
	&[disabled]
		opacity 0.6
	&.btn-large
		padding: 12px 3em;
	    font-size: 19px;
	    line-height: 1.33;
	    border-radius: 0;
	&.btn-fancy
		font-weight 700
		&:hover
			background-color #468847
			border-color #3d773e
			text-decoration none
	&.btn-fancy-active
		background-color #468847
		border-color #3d773e
		text-decoration none
		color #fff
		&:hover
			background-color #5e5e5e
			border-color #5e5e5e
button,.btn-default
	color #111
	background-color #fff
	border-color #999
	&:hover
		color #5e5e5e
		background-color #fff
		border-color #e6e6e6
//Formularios
.form-row
	margin-bottom 24px

label
	margin-bottom 5px
	display inline-block
	font-weight 500
.form-control
	display block
	width 100%
	height 25px
	padding 8px 9px
	font-size 1pc
	line-height 1.4
	color #999
	vertical-align middle
	background-color #fff
	border 1px solid #ccc
	box-shadow none
	transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
	outline none
	&:focus
		box-shadow 0px 0px 3px
	&.error
		color rojo
		border-color rojo
	&.valid
		color verde
		border-color verde
.checkbox, .radio
	display block
	min-height 22px
	margin-top 10px
	margin-bottom 10px
	padding-left 20px
	vertical-align middle
	label
		display inline
		margin-bottom 0
		cursor pointer
		font-weight 400
	input[type=checkbox]
		float left
		margin-left -20px
.form-row
	label
		text-transform uppercase
		font-family f_imprenta
		font-weight 700
	p.text-danger,p.text-warning
		display none
	&.danger
		color rojo
		input
			border-color rojo
		p.text-danger
			display block
	&.warning
		color naranja
		input
			border-color naranja
		p.text-warning
			display block
	&.valido
		color verde
		input
			border-color verde
		p.text-danger,p.text-warning
			display none
	p.text-warning
		color naranja!important
	p.text-danger
		color rojo!important
.button
	color #111
	background-color #fff
	border-color #999
//Validaciones
span.error
	color rojo
//progrecion bar
.progrecionBar
	position absolute
	height 100%
	width 100%
	top 0
	background-color rgba(255,255,255,0.9)
	z-index 1000
	padding-top 40%
	display none
.bubblingG {
	text-align: center;
	width:78px;
	height:49px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: rgb(0,0,0);
	border-radius: 49px;
		-o-border-radius: 49px;
		-ms-border-radius: 49px;
		-webkit-border-radius: 49px;
		-moz-border-radius: 49px;
	animation: bubblingG 1.5s infinite alternate;
		-o-animation: bubblingG 1.5s infinite alternate;
		-ms-animation: bubblingG 1.5s infinite alternate;
		-webkit-animation: bubblingG 1.5s infinite alternate;
		-moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.45s;
		-o-animation-delay: 0.45s;
		-ms-animation-delay: 0.45s;
		-webkit-animation-delay: 0.45s;
		-moz-animation-delay: 0.45s;
}

#bubblingG_3 {
	animation-delay: 0.9s;
		-o-animation-delay: 0.9s;
		-ms-animation-delay: 0.9s;
		-webkit-animation-delay: 0.9s;
		-moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		transform: translateY(-20px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-o-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-20px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-ms-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-20px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-20px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-moz-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-20px);
	}
}
@import './owl/owl.carousel.styl'
@import 'grid.styl'
@import 'banners.styl'
@import './carro/carro.styl'
@import './ingresar/ingresar.styl'
@import './procesar_pago/procesar_pago.styl'
@import './productos/productos.styl'
@import './main/style.styl'
@import './pages/page_catalogo/catalogo.styl'
@import './pages/page_productoSingle/productoSingle.styl'
@import './user/user.styl'
@import './header/styles.styl'
@import './sidebar_user/style.styl'
@import './breadcrumb/breadcrumb.styl'
