f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;

#header
	background white
	position fixed
	top 0
	left 0
	width 100%
	z-index 101
	header
		position relative
		padding 0
		background #fff
	.primary-logo
		left 0
		margin 1em 1.5em 0 0
		position relative
		z-index 105
		top 0
		float left
		font-size 1pc
.header-utility
	background #000
	color #fafafa
	letter-spacing 1px
	text-transform uppercase
	font-size .9em
	height 38px
	opacity 1
	padding 0 15px
	text-align right
	font-family f_imprenta
	font-size 1em
	letter-spacing 1px
	li
		a,a:link
			color #fafafa
	#header-utility-shipping
		float left
		text-transform uppercase
		color #fff
		padding 11px 30px 13px
		margin-left -15px
		text-align center
		>h6
			font-size 1em
			margin 0
.secondary-nav
	overflow hidden
	display inline-block
	.menu-utilitys
		float right
		padding 0
		margin 9px 0
		font-family f_imprenta
		li
			float left
			list-style none
			padding 0 10px 
	.menu-utilitys-user
		float right
		padding 0
		margin 9px 0
		li
			float left
			padding 0 10px
.header-global
	position relative
	padding 0 15px 0 0
	border-top 1px solid #f4f4f4
	border-bottom 1px solid #f4f4f4
	box-shadow 0 3px 3px -2px rgba(0,0,0,.05)
	height 5.4em
	max-width 100%
	.container
		text-align left
		margin 0
		padding 0 30px
	.inner-container
		width 100%
		display inline-block
		text-align left
		margin-bottom -5px
#navigation
	float left
	z-index 600
	nav
		width auto
		margin 0
		padding 0
		ul
			margin 0
			padding 0
			background #fff
			z-index 100
			font-family f_imprenta
			list-style none
			>li
				float left
				height 5.2em
				line-height 4.3em
				>a
					color #333
					display block
					font-size 1em
					padding .3em 1em
					height 5.2em
					letter-spacing 2px
					text-transform uppercase
					position relative
.right-nav-btns
	position absolute
	right 0
	top 0
	height 100%
#mini-cart
	float right
	line-height 5pc
	z-index 200
	padding 0 25px
	height 100%
	font-family f_imprenta
	color #000
	letter-spacing 1px
	&:hover
		opacity 0.7
		cursor pointer
		background #f4f4f4
	.mini-cart-container .icon-cart-stripe
		font-size 1.4em
		vertical-align text-bottom
	.mini-cart-items
		background #468847
		color #fff
		width: 20px;
		display: inline-block;
		line-height: 20px;
		text-align: center;
		border-radius: 10px;
		position: absolute;
		right: 10px;
		top: 20px;
		font-weight: 700;
		font-size: .8em;