section.header-mobil
section.header-utility
	section.header-utility-shipping
	div#header-utility-shipping
		h6 Envio Gratis para compras mayores a S/.60.00
	nav.secondary-nav
		ul.menu-utilitys
			li
				a(href="/") Lista Deseos
			li
				a(href="/") Chat en vivo
			li
				a(href="/") Ayuda
		ul#menu-link-user.menu-utilitys-user
section.header-global
	.container
		.inner-container
			h1.primary-logo
				a(href="/").link
					span Loviz DelCarpio
			#navigation
				nav.primary-nav
					ul.nav-primary
						li
							a(href="/catalogo/mujer/").link Mujer
						li
							a(href="/catalogo/hombre/").link Hombre
						li
							a(href="/catalogo/nino/").link Niños
						li
							a(href="/catalogo/nina/").link Niñas
						li
							a(href="/catalogo/ofertas/").link Ofertas
						li
							a(href="/catalogo/novedades/").link Novedades
			.right-nav-btns
				div#mini-cart
					div.mini-cart-total
						span.icono.icon-shopping-cart #
						span.mini-cart-label
						span.mini-cart-empty (0)
				#nav-sidebar-user.nav-sidebar.top_side
					//include ../sidebar_user/template.jade

