@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jcw1ju');
	src:url('fonts/icomoon.eot?#iefix-jcw1ju') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-jcw1ju') format('truetype'),
		url('fonts/icomoon.woff?-jcw1ju') format('woff'),
		url('fonts/icomoon.svg?-jcw1ju#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e096";
}
.icon-arrow-down:before {
	content: "\e097";
}
.icon-arrow-up2:before {
	content: "\e60b";
}
.icon-arrow-down2:before {
	content: "\e60c";
}
.icon-trashcan:before {
	content: "\f0d0";
}
.icon-arrow-long-down:before {
	content: "\e609";
}
.icon-arrow-long-up:before {
	content: "\e60a";
}
.icon-heart-outlined:before {
	content: "\e600";
}
.icon-heart:before {
	content: "\e601";
}
.icon-key:before {
	content: "\e602";
}
.icon-lock-open:before {
	content: "\e603";
}
.icon-lock:before {
	content: "\e604";
}
.icon-mail:before {
	content: "\e605";
}
.icon-shopping-cart:before {
	content: "\e606";
}
.icon-star-outlined:before {
	content: "\e607";
}
.icon-star:before {
	content: "\e608";
}
