@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?w4311a');
	src:url('fonts/icomoon.eot?w4311a#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?w4311a') format('truetype'),
		url('fonts/icomoon.woff?w4311a') format('woff'),
		url('fonts/icomoon.svg?w4311a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-small-down:before {
	content: "\e907";
}
.icon-chevron-small-left:before {
	content: "\e908";
}
.icon-chevron-small-right:before {
	content: "\e909";
}
.icon-chevron-small-up:before {
	content: "\e90a";
}
.icon-check:before {
	content: "\e900";
}
.icon-cross:before {
	content: "\e910";
}
.icon-heart-outlined:before {
	content: "\e90b";
}
.icon-heart:before {
	content: "\e90c";
}
.icon-shopping-cart:before {
	content: "\e90d";
}
.icon-star:before {
	content: "\e90e";
}
.icon-heart2:before {
	content: "\2665";
}
.icon-credit-card:before {
	content: "\e90f";
}
.icon-google-plus:before {
	content: "\e901";
}
.icon-facebook:before {
	content: "\e902";
}
.icon-instagram:before {
	content: "\e903";
}
.icon-twitter:before {
	content: "\e904";
}
.icon-youtube3:before {
	content: "\e905";
}
.icon-pinterest:before {
	content: "\e906";
}

