@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?4vsizx');
	src:url('fonts/icomoon.eot?4vsizx#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?4vsizx') format('truetype'),
		url('fonts/icomoon.woff?4vsizx') format('woff'),
		url('fonts/icomoon.svg?4vsizx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e096";
}
.icon-arrow-down:before {
	content: "\e097";
}
.icon-chevron-small-down:before {
	content: "\e907";
}
.icon-chevron-small-left:before {
	content: "\e908";
}
.icon-chevron-small-right:before {
	content: "\e909";
}
.icon-chevron-small-up:before {
	content: "\e90a";
}
.icon-check:before {
	content: "\e900";
}
.icon-cross:before {
	content: "\e910";
}
.icon-heart-outlined:before {
	content: "\e90b";
}
.icon-heart:before {
	content: "\e90c";
}
.icon-shopping-cart:before {
	content: "\e90d";
}
.icon-star:before {
	content: "\e90e";
}
.icon-heart2:before {
	content: "\2665";
}
.icon-credit-card:before {
	content: "\e90f";
}
.icon-google-plus:before {
	content: "\e901";
}
.icon-facebook:before {
	content: "\e902";
}
.icon-instagram:before {
	content: "\e903";
}
.icon-twitter:before {
	content: "\e904";
}
.icon-youtube3:before {
	content: "\e905";
}
.icon-pinterest:before {
	content: "\e906";
}

