.login_form
	.login_facebook
		margin-bottom 15px
		a
			background linear-gradient(top,#3b5998, #6d84b4) 
			color #fff
			padding 4px 14px
			border-radius 5px
			border 1px solid #3b5998
					
.crear_user	
	.datos_crear
		p
			font-size 16px
	form
		display none
	&.activo
		form
			display block
		.datos_crear
			display none