<section class="header-mobil box_contraste">
          <a href="/" class="logo-mobil link">
            <h2> Loviz DC </h1>
          </a>
          <a href="#" class="menu-mobil-icono no-link">
            <span class="icon-menu"></span>
            <span class="texto">Menu</span>
          </a>          

          <a href="/carro/" class="carro-mobil mini-cart link">
          
          <a href="/usuario/perfil/" class="cuenta-mobil link" >
            <span class="icon-user"></span>
            <span class="texto">Cuenta</span>
          </a>
          
          </a>
        </section>
        <section class="header-utility box_contraste container-fluid">
          <div class="row">
            <section class="header-utility-shipping col-md-12"></section>
            <div id="header-utility-shipping" class="col-md-7">
              <h6>Envio Gratis para compras mayores a S/.50.00</h6>
            </div>
            <nav class="secondary-nav col-md-5">
              <ul class="menu-utilitys nav nav-pills pull-right">
                <li><a href="/">Lista Deseos</a></li>
                <li><a href="/">Chat en vivo</a></li>
                <li><a href="/">Ayuda</a></li>
              </ul>
              <ul id="menu-link-user" class="menu-utilitys-user nav nav-pills pull-right"></ul>
            </nav>
          </div>
        </section>
        <section class="header-global">
          <div class="container-fluid">
            <div class="inner-container row">
              <h1 class="primary-logo"><a href="/" class="link"><span>Loviz DelCarpio</span></a></h1>
              <div id="navigation" class="">
                <nav class="primary-nav">
                  <ul class="nav nav-pills">
                    <li><a href="/catalogo/sandalias-mujer/" class="link">Sandalias</a></li>
                    <li><a href="/catalogo/pantuflas-mujer/" class="link">Pantuflas</a></li>
                    <!--
                    <li><a href="/catalogo/nino/" class="link">Niños</a></li>
                    <li><a href="/catalogo/nina/" class="link">Niñas</a></li>
                  -->
                    <li><a href="/catalogo/ofertas/" class="link">Ofertas</a></li>
                    <li><a href="/catalogo/novedades/" class="link">Novedades</a></li>
                  </ul>
                </nav>
              </div>
              <div class="right-nav-btns">
                <div class="mini-cart">                  
                </div>
                <div id="mini-Listas"></div>
                <div id="nav-sidebar-user" class="nav-sidebar top_side">
                  <!--include ../sidebar_user/template.jade-->
                </div>
              </div>
            </div>
          </div>
        </section>