f_imprenta = 'BenchNine', sans-serif;
f_imprenta2 = 'Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;
//Colores
rojo = #b94a48;
verde = #468847;
naranja = #C2A125;

@import 'nib'

body
	font-size 16px
	margin 0
	font-family Verdana
	line-height 1.4
	color #333
	
@import './utils/utils.styl'
@import './utils/typografia.styl'
@import './utils/boton.styl'
@import './utils/forms.styl'
@import './estructura/main.styl'
@import './estructura/footer.styl'
@import './estructura/header.styl'
@import './error_page/page_error.styl'
@import './catalogo/catalogo.styl'
@import './productos/listaproductos.styl'
@import './productos/productosingle.styl'
@import './usuario/form-login.styl'
@import './pages.styl'

@import './carro/carro.styl'
@import './procesar/procesar.styl'