.carrusel_producto
	position relative
	h2
		font italic 25px Georgia
		text-transform none
		text-align center
		position relative
		.line
			    height: 2px;
			    background: #111;
			    top: 10px;
			    left: -10px;
			    display: inline-block;
			    width: 10px;
			    margin-bottom: 6px;
	h3
		color #868383
		font-size 2em
		text-align center
		margin 10px
	.carruseles
		width 80%
		margin 0 auto
	.owl-pagination
		display none		
	.owl-theme .owl-controls .owl-buttons div
		position absolute
		top 40%
	.owl-buttons
		.owl-prev
			left -45px
		.owl-next
			right -45px
			
.page_felicidades		
	.titulo
		font-size 4.5em
		font-weight 400
	