{% verbatim %}
<script id="resumen_oficina_tlp" type="text/template">
	<div class="cabezera">
		<h2>Inicio</h2>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div id="fechas_resumen">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="btn-group" role="group" aria-label="...">
							  <button type="button" class="btn btn-default">Dia</button>
							  <button type="button" class="btn btn-default">Mes</button>
							  <button type="button" class="btn btn-default">Año</button>
							</div>
							<button class="btn btn-default pull-right" type="button">
								<span class="glyphicon glyphicon-calendar"></span> Desde
								<strong>22 de octubre 2015</strong> hasta <strong>23 de octubre 2015</strong>
								<span class="caret"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div id="resumen_actividade">
					<div class="panel panel-default">
						<div class="panel-body">
							Enrique
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div id="resumen_stadisticas">
					<div class="panel panel-default">
						<div class="panel-body">
							Enrique
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

{% endverbatim %}