.carro_page
	.titulo_page
		display none
	.btn
		width 100%	
.carro_lineas
	.etiquetas
		display none
	.lineas_items
		.acciones_linea
			border-top 1px solid #f4f4f4			
			border-bottom 2px solid #f4f4f4
			margin-top 5px
			padding 5px 0
			font-family f_imprenta
			text-transform uppercase
			font-weight bold
			.eliminar
				cursor pointer
		.img_linea
			width 50%
			float right
		.detalle_linea
			width 50%
			padding-top 20px
			.nombre
				font-family f_imprenta
				font-weight bold
				text-transform uppercase
				font-size 20px
			.color
				text-transform uppercase
		.precio_linea
			margin-top 15px
		.cantidad_linea
			margin 10px
			.cantidad
				border 1px solid #f4f4f4
				padding 8px 20px
			.cant
				cursor pointer
				display inline-block
				color #ccc
				&:hover
					color #333
		.subtotal_linea
			.etiqueta_mobil
				display block
	.carga_linea
		display none
		z-index 2
		width 100%
		position absolute
		height 100%
		background-color rgba(255,255,255,0.5)
		left 0
.total_carro
	margin 30px 0
	table
		width 100%
		font-size 1.1em
		tr
			td
				padding 8px
				border-top 1px solid #f4f4f4
				&.sin-borde
					border-top none
		.tabla_total_carro
			font-size 1.2em
//.lineas_carro
	//margin-top 10px
	//.etiquetas
		//display flex
		//padding 10px 0
		//border-bottom 2px solid #f4f4f4
		//margin-bottom 20px
		//span
			//font-weight 700
			//text-transform uppercase
			//font-family f_imprenta
			//letter-spacing 1px
		//.hiden
			//display none
	//.lineas_items
		//border-bottom 1px solid rgba(6, 20, 2, 0.52)
		//.linea
			//display flex
			//position relative
			//border-bottom 1px solid #f4f4f4
			//padding 20px 0
	//.img_linea
		//width 15%
	//.detalle_linea
		//width 30%
		//padding-left 60px
		//.nombre
			//text-transform uppercase
			//font-weight 700
			//font-family f_imprenta
			//letter-spacing 2px
			//font-size 1.2em
	//.precio_linea
		//width 15%
		//text-align center
	//.cantidad_linea
		//width 15%
		//text-align center
		//.cantidad
			//border 1px solid #f4f4f4
			//padding 8px 20px
		//.cant
			//cursor pointer
			//display inline-block
			//color #ccc
			//&:hover
				//color #333
	//.subtotal_linea
		//width 15%
	//.acciones_linea
		//width 15%
		//.eliminar
			//font-family f_imprenta
			//text-transform uppercase
			//font-weight 700
			//cursor pointer
	//.carga_linea
		//display none
		//z-index 2
		//width 100%
		//position absolute
		//height 100%
		//background-color rgba(255,255,255,0.5)
		//left 0
//.total_carro
	//margin 30px 0
	//font-family f_imprenta
	//table
		//width 100%
		//font-size 1.1em
		//tr
			//td
				//padding 8px
				//border-top 1px solid #f4f4f4
				//&.sin-borde
					//border-top none
		//.tabla_total_carro
			//font-size 1.5em