@media (min-width: 480px)
	header
		.header-mobil
			a
				.texto
					display inline
	.producto-single
		.imagenes_producto
			#galeria_full
				display block
			#galeria_movil
				display none!important
@media (min-width: 768px)
	.catalogo
		.refinar
			display none
		.section-refinamiento
			display block

@media (min-width: 992px)
	#footer
		.footer-block-menu
			.nav
				display block
	header
		.header-mobil
			display none
		.header-utility
			display block
		.header-global
			height 5.4em
			.primary-logo
				display block
			.right-nav-btns
				display block
	#wrapper
		padding-top 93pt
		