@media (min-width: 480px)
	header
		.header-mobil
			a
				.texto
					display inline
	.producto-single
		.imagenes_producto
			#galeria_full
				display block
			#galeria_movil
				display none!important
@media (min-width: 768px)
	.catalogo
		.refinar
			display none
		.section-refinamiento
			display block
	.lista-productos 
		.productos 
			figure
				min-height 160px
@media (min-width: 992px)
	#footer
		.footer-block-menu
			.nav
				display block
	header
		.header-mobil
			display none
		.header-utility
			display block
		.header-global
			height 5.4em
			.primary-logo
				display inline-block
				float left
				margin 20px
			.right-nav-btns
				display block
		#navigation
			transform none
			position initial
			height initial
			overflow auto
			max-width inherit
			display inline-block
			width inherit
			.primary-nav
				ul
					li
						float left
						border-bottom none
						line-height 66px
	.lista-productos 
		.productos 
			figure
				height 200px
				overflow hidden				
	#wrapper
		padding-top 93pt
		