.btn
	font-family f_imprenta
	text-transform uppercase
	letter-spacing 1px
	&.btn-contraste
		background #111
		color #fff
	&.btn-default
		border-radius 0px
	&.btn-large
		padding 12px 3em
		font-size 20px
		line-height 1.33
		border-radius 0px
	&.btn-next
		background verde
		color #fff
		&:hover
			background grey