naranja = #C2A125

.form-control
	border-radius 0
label
	font-family f_imprenta
	text-transform uppercase
	.requerido
		font-size 1.2em
		color naranja
.form-group
	.text-danger
		display none
	&.error
		input
			border-color #a94442
		.text-danger
			display block
	&.valido
		.icono_valido
			background-color #3c763d!important
		input
			border-color #3c763d	
.form-row
	margin-bottom 10px