naranja = #C2A125

.form-control
	border-radius 0
label
	font-family f_imprenta
	text-transform uppercase
	letter-spacing 1px
	.requerido
		font-size 1.2em
		color naranja
.form-row
	margin-bottom 10px