rosado = #F7727A

.lista-productos
	.productos
		text-align center
		figure
			width 90%
			min-height 100px
			margin 2px auto
			img
				width 100%
		.nombre_productos
			font-family f_imprenta
			font-weight bold
			font-size 1.2em
			span
				display block
				&.color_productos
					font-size .8em
					text-transform uppercase
					font-weight 400
		.precios
			div
				display inline-block
				font-family f_imprenta
			.old_precio
				font-size 0.9em
				margin 0 5px
				text-decoration line-through
				color rosado