rosado = #F7727A

.lista-productos
	.productos
		text-align center
		figure
			width 90%
			min-height 100px
			margin 2px auto
			img
				width 100%
		.imagen_lista
			position relative
			img				
				opacity 0
				transition all 0.1s linear
				&:first-child
					opacity 1
				&:last-child
					position absolute				
					left 0
					top 0
			&:hover
				img:first-child
					opacity 0
				img:last-child				
					opacity 1		
		.nombre_productos
			font-family f_imprenta
			font-weight bold
			font-size 1.2em
			span
				display block
				&.color_productos
					font-size .8em
					text-transform uppercase
					font-weight 400
		.estrellas
			opacity 0
		.precios
			div
				display inline-block
				font-family f_imprenta
			.old_precio
				font-size 0.9em
				margin 0 5px
				text-decoration line-through
				color rosado
		&:hover
			a
				text-decoration none
			.estrellas
				opacity 1