.producto-single
	.product-name
		margin 5px 0 0
		.product-name-gender
			font-size .4em
			display block
			line-height .8
	.datos_producto
		.categorias_productos
			margin-bottom 10px
			a.btn
				padding 2px 5px
				font-size .8em
				font-weight 700
				margin-right 10px
		.label
			font-size 16px
		.product-content
			.precios
				font-family f_imprenta
				font-weight 700
				font-size 1.5em
				position relative
				.precios_muestra
					display block
					>div
						display inline-block
				.precio_variacion
					display none
					&.mostrar
						display block
					>div
						display inline-block
				.descuento
					position: absolute;
					right: 0;
					background-color: #111;
					color: #fff;
					padding: 5px;
					border-radius: 29px;
				.precios_old
					font-size .8em
					color rosado
					text-decoration line-through
#producto_detalles
	padding-top 2em 
	margin-top 2em
	background #f4f4f4
.product-long-description
	width 60%
	padding-right 30px
.imagenes_producto
	.product-thumbnails
		display inline-block		
		width 140px
		float left
		ul
			padding 0
			margin 0
	#imagen_primary
		display inline-block
		float left
		width 80%
.product-review-links
	.pr-snippet-wrapper
		display flex
		padding 10px 0
		border-top 1px solid #f4f4f4
		border-bottom 1px solid #f4f4f4
		.num_estrellas
			font-family f_imprenta
			display flex
			.ratio
				margin 0 10px
				text-decoration underline				
				font-weight 700				
			.pr-snippet-read-reviews
				margin-right 10px
			.pr-snippet-write-review
				margin-left 20px
				cursor pointer
				text-decoration underline
				font-weight 700
				text-transform uppercase			
.product-variations
	margin 15px 0
	text-transform uppercase
	font-family f_imprenta
	letter-spacing 2px
	.variacion_color
		.selectedColor
			margin 0 10px
		.color_valor
			ul
				padding 0
				margin 0
				li
					display inline-block
					width 80px
					figure
						margin 0
						padding 0
						border-bottom 2px solid #ccc
					&.selected
						figure
							border-bottom 2px solid #111
					&:hover
						figure
							border-bottom 2px solid #111
	.label
		font-weight 700
	.variacion_talla
		margin 10px 0
		.tallas_form
			margin 10px 0
			option
				color green
			.sin_stock
				color red
#galeria_movil
	display none!important

.product-add-to-cart
	.addtocart
		button
			padding 12px 3em
			font-size 1.1em
			font-weight 700
			padding-right 2.1em
			padding-left 2.1em
			margin 1em 0
		