{% verbatim %}	

<script id="page_tema1_template" type="text/template">
	<section id="seccion_top">
	</section>	
	<section id="middle">
		<section id="seccion_left"></section>
		<section id="seccion_center"></section>
		<section id="seccion_rigth"></section>
	</section>	
	<section id="seccion_bottom"></section>
</script>

<script id="breadcrumb_tlp" type="text/template">
	<ol class="breadcrumb">
	</ol>	
</script>

<script id="bloque_carrusel_img" type="text/template">
	{%for img in imagenes_carrusel%}
		<div class="item">
			<img src="{{img.imagen}}" alt="{{img.titulo}}">
		</div>		
	{%endfor%}
</script>

<script id="breadcrumb_link_tlp" type="text/template">
	{%if link%}
		<a href="{{link}}" class="link">{{nombre}}</a>
	{%else%}
		<span class="last">{{nombre}}</span>
	{%endif%}
</script>

<script id="bloque_ajax_tlp" type="text/template">
	<div class="bubblingG">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
	</div>
</script>

<script id="loader_min" type="text/template">
	<div class="fondo_ajax">
		<div class="img_ajax ajax"></div>
		<div class="text_ajax ajax"></div>
	</div>
</script>

<script id="page_error_template" type="text/template">
	<div id="error_page">
		<div class="cobertura"></div>
		<div class="container">
			<div class="errorTitle col-md-12">
				Oops! - Error 404 , pagina no encontrada
			</div>
			<div class="errorsenti col-md-12">
				Lo sentimos mucho
			</div>
			<div class="reallyLoud col-md-12">
				Esto es Incomodo
			</div>
			<div class="explicacion col-md-7">
				Al parecer, Esta pagina se tomo el dia libre para alimentar su adiccion a los zapatos, y este probablemente, enterrado bajo una pila de cueros y tachuelas. Es nuestro error lo solucionaremos... Te amamos!
			</div>
		</div>
		
	</div>	
</script>

<script id="page_felicidades_template" type="text/template">
	<div class="container page_felicidades">
		<h1 class="text-center titulo">¡Gracias por su compra!</h1>
		<div class="row">
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Detalles de tu Orden</h3></div>
	  				<table class="table">	    				
						<tbody>
							<tr>
								<td>Codigo de Transaccion:</td>
								<td><strong>sbhnmyX4AK</strong>{{pedido}}</td>
							</tr>
							<tr>
								<td>Fecha de transaccion:</td>
								<td>11 / 12 / 2015{{dia}}</td>
							</tr>
							<tr>
								<td>Hora de transaccion:</td>
								<td>12:02 pm</td>
							</tr>
							<tr>
								<td>Metodo de pago:</td>
								<td>Paypal</td>
							</tr>
							<tr>
								<td>Monto Total:</td>
								<td>S./20.00  ->  $6.40</td>
							</tr>
							<tr>
								<td>Nombre:</td>
								<td>Enrique lopez Vizarreta</td>
							</tr>
							<tr>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>				
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Detalles del Pedido:</h3></div>	  				
	    			<table class="table">	    				
	    				<thead>
	    					<th></th>
	    					<th>Producto</th>
	    					<th>Color</th>
	    					<th>Talla</th>
	    					<th>Precio</th>
	    					<th>Cantidad</th>
	    					<th>Total</th>
	    				</thead>
						<tbody>
							<td><img src="imagen"></td>							
							<td>El nombre del producto</td>
							<td>Fucsia</td>
							<td>32-34</td>
							<td>S/. 12.00</td>
							<td>1</td>
							<td>S/. 12.00</td>
						</tbody>
					</table>		
				</div>
			</div>
			<div class="col-md-5">
				<div class="bloque_imagen_felicidad">
					<img src="/media/tienda/bloque/feliz.jpg">
				</div>
			</div>
		</div>
	</div>	
</script>


{% endverbatim %}