{% verbatim %}	

<script id="page_home_template" type="text/template">
	<div id="home-section-a">
	  <div class="row margin-bot-0">
	    <div class="col-xs-12 text-center sale-banner"><a href="/" class="link">
	        <p class="font-good-headline all-caps margin-top-0 margin-bot-0 font-white font-12 letter-space-2"><strong class="margin-top-0 margin-bot-0">Dias de ofertas</strong>
	          <p>Ahorra hasta un 30% en moda de primavera y Verano listo por tiempo limitado</p><span class="btn border-gold-white-btn font-italic">visitar tienda</span>
	        </p></a></div>
	  </div>
	  <section id="homepage-carousel"></section>
	  <section id="home_ofertas" class="carrusel">
	    <h2>Ofertas en Loviz DelCarpio<span class="linea"></span></h2>
	    <div class="lista-productos"></div>
	  </section>
	  <section id="home_best_seller" class="carrusel">
	    <h2>Lo mas Vendido en Loviz DelCarpio</h2>
	    <div class="lista-productos"></div>
	  </section>
	</div>
</script>


<script id="breadcrumb_tlp" type="text/template">
	<ol class="breadcrumb">
	</ol>	
</script>

<script id="breadcrumb_link_tlp" type="text/template">
	{%if link%}
		<a href="{{link}}" class="link">{{nombre}}</a>
	{%else%}
		<span class="last">{{nombre}}</span>
	{%endif%}
</script>

<script id="bloque_ajax_tlp" type="text/template">
	<div class="bubblingG">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
	</div>
</script>

<script id="page_error_template" type="text/template">
	<div id="error_page">
		<div class="cobertura"></div>
		<div class="container">
			<div class="errorTitle col-md-12">
				Oops! - Error 404 , pagina no encontrada
			</div>
			<div class="errorsenti col-md-12">
				Lo sentimos mucho
			</div>
			<div class="reallyLoud col-md-12">
				Esto es Incomodo
			</div>
			<div class="explicacion col-md-7">
				Al parecer, Esta pagina se tomo el dia libre para alimentar su adiccion a los zapatos, y este probablemente, enterrado bajo una pila de cueros y tachuelas. Es nuestro error lo solucionaremos... Te amamos!
			</div>
		</div>
		
	</div>	
</script>

<script id="page_felicidades_template" type="text/template">
	<h1>Felicidades</h1>
</script>

{% endverbatim %}