{% verbatim %}	

<script id="productoSingles_tlp" type="text/template">
	<div class="nav-breadcrumb container"></div>
	<div class="producto-single">
		<div class="section-productos container">
			<div class="row">
				<div class="imagenes_producto col-md-8">
					<div id="galeria_full" class="fotos_productos">
			        </div>
			        <div id="galeria_movil" class="fotos_productos_mobil">          
			        </div>
			        <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='23023797'></div>
				</div>
				<div class="datos_producto col-md-4">
					<h1 class="product-name">
						{%for categoria in categorias%}
							{%if !categoria.padre %}
							<span class="product-name-gender">{{categoria.nombre}}</span>
							{%endif%}
						{% endfor %}
						<span> {{full_name}} </span>
					</h1>
					<div class="categorias_productos">
						{% for categoria in categorias %}
						<a href="{{categoria.link}}" class="btn btn-default link">{{categoria.nombre}}</a>
						{% endfor %}
					</div>
					<div class="product-content">
						<div class="precios">
							{% for varia in variaciones%}
							<div class="precio_variacion {{varia.id}} {%if loop.first%}mostrar{% endif%}">
								{%if varia.oferta%}
									<div class="descuento">-{{varia.oferta}}%</div>
									<div class="precios_old">S/. {{varia.precio}}</div>
								{%endif%}
								<div class="precio_actual">S/. {{varia.precio_venta}}</div>
							</div>
							{%endfor%}
						</div>
						<div class="product-review-links">
							<div class="pr-snippet-wrapper">
								<div class="pr-snippet-stars">
									<div class="estrellas">
									</div>
								</div>
								<div class="pr-snippet-read-write">
									<div class="num_estrellas"><span class="ratio">{{valoracion}}</span>
										<div class="pr-snippet-read-reviews">({{num_comentarios}})</div>
										<div class="pr-snippet-write-review add_comentario" data-toggle="modal" data-target="#nuevo_comentario">
											Escribe un Comentario
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-variations">
							<div class="variacion_color">
								<div class="color_titulo label">
									Color Seleccionado:<span class="selectedColor">{{color}}</span>
								</div>
								<div class="color_valor">
									<ul class="swatches_Color">
										<li class="selected">
											<figure>
												<a href="/producto/{{slug}}/" class="link">
													<img src="{{thum}}"/>
												</a>
											</figure>
										</li>
										{%for relacion in relaciones%}
										<li>
											<figure>
												<a href="/producto/{{relacion.slug}}/" class="link">
													<img src="{{relacion.thum}}"/>
												</a>
											</figure>
										</li>
										{%endfor%}
									</ul>
								</div>
							</div>
							<div class="variacion_talla">
								<div class="sizes-title label">Tallas Disponibles:
									<div class="tallas_elegibles">
										{% for varia in variaciones %}
											{%if varia.stock%}
											<div class="talla_seleccion en_stock" data-valor="{{varia.id}}">
												{{varia.talla}}
											</div>
											{%else%}
											<div class="talla_seleccion sin_stock" data-valor="{{varia.id}}">
												{{varia.talla}}
											</div>
											{%endif%}
										{%endfor%}
									</div>

								</div>
							</div>
						</div>
						<div id="addtocart" class="product-add-to-cart">
						</div>
					</div>
				</div>
			</div>
		</div>	
		{%if descripcion%}
		<div id="producto_detalles" class="">
			<div class="container">
				<div class="row">
					<section id="product-sub-details-anchor" class="product-sub-details col-md-7">
				        <div class="product-long-description">
				          <h2>Descripccion</h2>
				          <p>{{descripcion|safe}}</p>

				          {%for material in material_producto%}
				          	 {% if loop.first %}
				          	 <h4>Detalles</h4>
				          	 <ul class="list">				          	 
				          	 {% endif %}
				          	 <li>{{material.descripcion}}</li>
				          	 {% if loop.last %}</ul>{% endif %}
				          {%endfor%}				         
				        </div>
				    </section>
				    <div class="product-fit segundo_producto col-md-5">
				    	{%if detalles%}
				    		{{detalles}}
				    	{%else%}
				    	<div>
				    		<img clas="img_bloque" src="/media/tienda//bloque/banner-envio-gratis.jpg"/>
				    	</div>
				    	{%endif%}				        
				    </div>
				</div>
			</div>
		</div>
		{%endif%}
		<div class="container-fluid review_realciones">
			<div class="row">
				<div class="col-md-12" id="producto-asociado">
				    <section>						
						<h3 class="text-center"><span>Otros Productos</span> Que te Gustaran</h3>
				      	<div class="lista-productos"></div>
				    </section>
				</div>
				<div class="col-md-12">
					<section id="recomendation-producto" class="">				    
				    </section>
				</div>				
			</div>
		</div>	    
	</div>

	<div id="nuevo_comentario" class="modal fade ">
		 <div class="modal-dialog modal-lg">
		   <div class="modal-content">
		  		<input type="hidden" id="producto_id_coment" value="{{id}}">
		     	<div class="imagen">
		     		<div class="figura">
		     			 <img src="{{thum}}"/>						
		     		</div>
		     		<div class="nombre">{{full_name}}</div>
		     	</div>
		     	<div class="formulario">		     		
		     	</div>
		   </div>
		 </div>
	</div>
</script>

<script id="form_nuevo_coment_tlp" type="text/template">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		     		<h3>Mi Comentario</h3>
		     		<div class="error-form">
		     			<p class="text-warning bg-warning">Faltan campos que son obligatorios</p>
		     		</div>
		     		<div class="form-group form-inline form_estrellas">
						<label for="exampleInputName2">Calificacion General *</label>
						<div class="btn-group estrellas_form" role="group" aria-label="...">
							<button type="button" class="btn btn-default 1" data-texto="Malo" data-valor="1">
								<span class="glyphicon glyphicon-star" data-valor="1"></span>
							</button>							
							<button type="button" class="btn btn-default 2" data-texto="Justa" data-valor="2">
								<span class="glyphicon glyphicon-star" data-valor="2"></span>
							</button>							
							<button type="button" class="btn btn-default 3" data-texto="Promedio" data-valor="3">
								<span class="glyphicon glyphicon-star" data-valor="3"></span>
							</button>							
							<button type="button" class="btn btn-default 4" data-texto="Bueno" data-valor="4">
								<span class="glyphicon glyphicon-star" data-valor="4"></span>
							</button>							
							<button type="button" class="btn btn-default 5" data-texto="Exelente" data-valor="5">
								<span class="glyphicon glyphicon-star" data-valor="5"></span>
							</button>							
						</div>
						<div class="enlinea texto f_arial">Click para votar!</div>
						<div class="enlinea icono_valido"><span class="glyphicon glyphicon-ok"></span></div>
					</div>
					<div class="form-group titulo_coment">
						<label for="">Titulo del Comentario *</label>
						<input type="text" id="titulo_coment" data-contenedor="titulo_coment" class="form-control" placeholder="Ejemplo: Magnifico producto!!!">						
					</div>					
					<div class="form-group content_coment">
						<label for="">Opinion *</label>
						<div class="requerido enlinea pull-right f_arial">0/50</div>
						<div class="opinion-content">
							<textarea placeholder="Ejemplo: Compré este hace un mes y estoy muy contento de haberlo hecho ..." class="form-control" id="coment_content"></textarea>
							<div class="imagenes_subidas">								
							</div>
							<div class="buton_subir">
								<input type="file" name="foto_comentario" id="foto_comentario"/>
								<button type="button" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-camera"></span>
									Añadir Foto usando este producto
								</button>
							</div>
						</div>						
					</div>		
					<div class="form-group form-inline recomendaciones">
						<label for="exampleInputName2">¿Recomendaria este producto a un amigo? *</label>
						<div class="btn-group " role="group" aria-label="...">
							<button type="button" class="btn btn-default btn-lg recomendacion" data-valor="si">Si</button>
							<button type="button" class="btn btn-default btn-lg recomendacion" data-valor="no">No</button>
						</div>
						<div class="enlinea icono_valido"><span class="glyphicon glyphicon-ok"></span></div>	
					</div>
					<div class="autenticar_user form-group">
						<div class="col-md-6">
							<label for="exampleInputEmail1">Correo Electronico *</label>
    						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ejemplo: tucorreo@ejemplo.com">
    					</div>
    					<div class="col-md-6">
    						<label for="exampleInputEmail1">Apodo *</label>
    						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ejemplo: jackie27">
    					</div>    					
					</div>
					<div class="form-group terminos">
					    <p>
					    	<small class="f_arial ">Puede recibir mensajes de correo electrónico con respecto a esta presentación. Cualquier correo electrónico incluirán la posibilidad de darse de baja de futuras comunicaciones.</small>
					    </p>
					    
					    <div>
					    	<button class="btn btn-contraste enviar_comentario">Enviar Comentario</button>
					    </div>
					</div>
</script>

<script id="galeriafull_tlp" type="text/template">
	<div id="thumbnails" class="product-thumbnails">
	  <ul>
	    {% for img in imagenes_producto%}
	    <li class="thumb selected">
	      <img data-imagen="{{img.imagen}}" src="{{img.imagen_thum}}"/>
	    </li>
	    {%endfor%}
	  </ul>
	</div>
	<div id="imagen_primary">
	  {% for img in imagenes_producto%}
	  	{% if !img.orden%}
	  	<img src="{{img.imagen}}"/>
	  	{%endif%}
	  {% endfor%}
	</div>
</script>

<script id="galeria_mobil_tlp" type="text/template">
	{%for img in imagenes_producto%}
	<div>
		<img src="{{img.imagen}}"/>
	</div>
	{%endfor%}
</script>

<script id="add_to_cart_tlp" type="text/template">
	<input type="hidden" name="producto" value="{{producto}}">
	<input type="hidden" name="variacion" value="{{variacion}}">
	<input type="hidden" name="carro" value="{{carro}}">
	<input type="hidden" name="cantidad" value="1">
	{% if !variacion%}
	<button class="btn btn-contraste btn-large" type="submit" value="Selecciona una talla" disabled="disabled" >
		<span>Selecciona una talla</span>
	</button>
	{%else%}
	<button id="agregar_alCarro" class="btn btn-contraste btn-large" type="submit" value="Enviar">
		<span>Agregar al Carro</span>
	</button>
	{%endif%}
</script>

<script id="mini_compra_tlp" type="text/template">
	<div class="modal-dialog">
    	<div class="modal-content">
    		<div class="modal-header">
    			<h4>Producto Agregado al Carro de compras</h4>
    		</div>
    		<div class="modal-body">
    			<div class="row">
    				<div class="col-md-5">
    					<img src="{{thum}}">
    				</div>
	    			<div class="col-md-7">
	    				<h5>{{full_name}}</h5>
	    				<div class="fila">
	    					<span class="label">Color:</span>
	    					<span>{{color}}</span>
	    				</div>
	    				<div class="fila">
	    					<span class="label">Talla:</span>
	    					<span>{{talla}}</span>
	    				</div>
	    				<div class="fila">
	    					<span class="label">Cantidad:</span>
	    					<span>{{cantidad}}</span>
	    				</div>
	    				<div class="fila">
	    					<span class="label">Precio:</span>
	    					<span>S/.{{precio}}</span>
	    				</div>
	    			</div>
    			</div>    			
    		</div>
    		<div class="modal-footer">
    			<a href="#" class="btn btn-default" data-dismiss="modal">Segir Comprando</a>
    			<a href="/carro/" class="link btn btn-contraste" data-dismiss="modal">Ir al Carro de compras</a>
    		</div>
    	</div>
    </div>
</script>

<script id="seccion_comentarios" type="text/template">
	<h2 class="titulo">Comentarios
		<button class="btn btn-default btn-contraste pull-right" data-toggle="modal" data-target="#nuevo_comentario"><span>Escribe un Comentario</span></button>
	</h2>

	{%if num_comentarios%}
	<div class="rw-control-bar rw-filter">
		<div class="rw-contador"><span>{{num_comentarios}} Comentarios</span></div>
		<div class="rw-sort">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Ordernar <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Mas Relevante</a></li>
					<li><a href="#">Que mas Ayudo</a></li>
					<li><a href="#">Mayor Puntuacion</a></li>							    
					<li><a href="#">Menor Puntuacion</a></li>
					<li><a href="#">Mas Relevante</a></li>
				</ul>
			</div>				        
		</div>
		<div class="clear_both"></div>
	</div>
	<div class="reviews-lista">
	</div>
	{%else%}
	<div class="sin-comentarios container-fluid">
		<div class="estrellas">
			<span class="estrella icon-star"></span>
			<span class="estrella icon-star"></span>
			<span class="estrella icon-star"></span>
			<span class="estrella icon-star"></span>
			<span class="estrella icon-star"></span>
		</div>
		<h5><a href="" class="add_comentario" data-toggle="modal" data-target="#nuevo_comentario">Se el Primero dejar Un cometario</a></h5>
	</div>
	{%endif%}
</script>

<script id="comentario_lista" type="text/template">
    <div class="col-md-2">
		      <div class="review_header">
			      <div class="avatar">
			      	{%if foto%}
			      		<img src="{{foto}}" withd="100" height="100">
			      	{%endif%}
			      </div>
			      <div class="estrellas_reviews estrellas">
			      </div>
			      <div class="user_name text-center">{{nombre}}</div>
			      <div class="time text-center">{{creado}}</div>
			  </div>
	</div>
	<div class="col-md-10">
		<div class="review_body">
			<div class="review_titulo">
				<h4 class="rw-titulo">{{titulo_comentario}}</h4>
			</div>
			<div class="review_content">
				<p>{{comentario}}</p>
			</div>
		</div>
		<div class="recomendacion">
			<p>
				{%if recomen%}
				<strong>
					<span class="circulo_recomen">
						<span class="icon-check"></span>
					</span>
					Si,
				</strong>
				yo recomiendo este producto
				{%else%}
				<strong>
					<span class="glyphicon glyphicon-remove-circle"></span>
					No,
				</strong>
				yo no recomiendo este producto
				{%endif%}
			</p>
		</div>
		<div class="imagenes_comentarios">
			{%for foto in fotos_coment%}
			<div class="imagen_coment">
				<img src="{{foto.foto}}">
			</div>				
			{%endfor%}	
		</div>
		<div class="ayuda">
			<h4>Te Ayudo?</h4>
			<div class="opciones">
				<div class="btn-group opciones_ayuda" role="group" aria-label="...">				  
				  <button type="button" class="btn btn-default opt-si">
				  	Si - <span>{{ayuda_si}}</span></button>
				  <button type="button" class="btn btn-default opt-no">
				  	No - <span>{{ayuda_no}}</span></button>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="nueva_imagen_tlp" type="text/template">
	{%if foto %}
		<img src="{{foto}}">
	{%else%}
		<div id="ajaxloader_img"></div>	
		<p class="text-center">Subiendo...</p>
	{%endif%}	
</script>
{% endverbatim %}