{% verbatim %}	

<script id="user_links_template" type="text/template">
	{%if email%}
		<li><a href="/usuario/perfil/" class="link">{{email}}</a></li>
		<li><a href="/salir/" class="">(Salir)</a></li>
	{%else%}
		<li><a href="#" class="ingresar_user mostrar">Ingresar</a></li>
		<li><a href="#" class="unirme_user mostrar">Unirme</a></li>		
	{%endif%}
</script>

<script id="user_sidebar_template" type="text/template">
	<div class="header-account sidebar">
	  <h1>Bienvenido</h1>
	  <div class="grid_1">
	    <div class="login-box login-account " data-activo="login">
	      <h2 class="section-header active">Ingresa a cuenta existente</h2>
	      <div class="login-box-content returning-customers clearfix">
	        <p>Si usted esta registrada en LovizDelCarpio.com, porfavor ingresa su email y contraseña.</p>
	        <div id="dwfrm_login"></div>
	      </div>
	    </div>
	  </div>
	  <div class="grid_2">
	    <div class="login-box login-create-account clearfix" data-activo="registro">
	      <h2 class="section-header">Nuevo Cliente</h2>
	      <div class="login-box-content clearfix">
	        <p>¿Tienes unos segundos para registrarte? Esto hara su compras mas rapidas en LovizDelCarpio.com y podras hacer seguimiento de tus pedidos.</p>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="user_formLogin_tlp" type="text/template">
	<h3>Ingresar a mi cuenta</h3>
	<fieldset>
	  <div class="login_facebook">
	    <a href="http://localhost:8000/auth/convert-token/">Ingresar con Facebook</a>
	  </div>	  
	<form>
		  <div class="error_form"></div>
		  <div class="form-group campo_correo">
		    <label>*Correo Electronico</label>
		    <input type="text" class="form-control" data-contenedor="campo_correo"/>	    
			<div class="error"></div>		    
		  </div>
		  <div class="form-group campo_pass">
		    <label>*Contraseña</label>
		    <input type="password" class="form-control" data-contenedor="campo_pass"/>
			<div class="error"></div>		    
		  </div>
		  <div class="form-group remember-password">
		    </div><a href="/">¿Olvido su contraseña?</a>
		  </div>
		  <div class="form-group form-row-button">
		    <button type="submit" value="ingresar" class="btn btn-default">Ingresar</button>
		  </div>
	  </form>
	</fieldset>
</script>

<script id="user_formCrear" type="text/template">
	<h3>Crear una cuenta LovizDC.com</h3>
	<div class="datos_crear">
		<p>Y aprovéchate de los beneficios de tener una cuenta:</p>
		<ul>
			<li>Ahorra tiempo cuando compres</li>
			<li>Sigue tus pedidos</li>
			<li>Incluye varias direcciones de envío</li>
		</ul>
		<button class="btn btn-contraste boton-crear">Crear una Cuenta</button>
	</div>
	<div class="error_form"></div>
	<form>
		<div class="form-group campo_nombre">
			<label class="control-label" for="">*Nombre</label>
			<input type="text" class="form-control" data-contenedor="campo_nombre">
			<div class="error"></div>
		</div>
		<div class="form-group campo_apellido">
			<label class="control-label" for="">*Apellido</label>
			<input type="text" class="form-control"  data-contenedor="campo_apellido">
			<div class="error"></div>			
		</div>
		<div class="form-group campo_correo">
			<label class="control-label" for="">*Correo electronico</label>
			<input type="email" class="form-control" placeholder="" data-contenedor="campo_correo">
			<div class="error"></div>			
		</div>
		<div class="form-group campo_pass">
			<label class="control-label" for="">*Contraseña</label>
			<input type="password" class="form-control"  data-contenedor="campo_pass">
			<div class="error"></div>			
		</div>
	    <button type="submit" value="ingresar" class="btn btn-default">Crear Cuenta</button>		
	</form>
</script>

<script id="page_user_tlp" type="text/template">
	<div class="nav-breadcrumb"></div>
	<div class="pt_account Account-Show account-welcome container">
	  <div id="primary">
	    <h1 class="current-customer-logout">
	    	<span class="account-sub-header">
	    		Bienvenido</span><span class="pipe">|</span>
	    		<span class="first-name">{{first_name}} </span>
	    		<span class="last-name">{{last_name}}</span>
	    	<span class="account-logout">(<a href="/salir/" class="salir">Salir</a>)</span></h1>
	    <div class="account-landing">
	      <div class="content-asset">
	        <div id="welcomeInfo" class="margin-bot-20">
	          <div id="leftInfo">
	            <h3>Informacion de Cuenta</h3><a href="/" class="acctNavLinks link">Administre su correo electronico y la informacion de inicio de sesion</a><br/><br/>
	            <h3>Direccion</h3><a href="/" class="acctNavLinks link">Gestiona tus direcciones de facturacion y envio</a><br/><br/>
	            <h3>Informacion de Pago</h3><a href="/" class="acctNavLinks link">Manejo de pagos y metodos</a><br/><br/>
	            <h3>Pedidos</h3><a href="/" class="acctNavLinks link">Cpmpruebe el estado de sus pedidos</a><br/><br/>
	            <h3>Lista de Deseos</h3><a href="/" class="acctNavLinks link">Ver o modificar productos de la lista o invitar amigos.</a>
	          </div>
	          <div id="rightInfo"></div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div id="secundary" class="nav">
	    <nav>
	      <div class="secondary-navigation">
	        <div class="content-asset">
	          <ul class="account-nav-top">
	            <li>
	              <ul class="account-logout-nav">
	                <li class="navlink"><a href="/" class="btn btn-default">Salir</a></li>
	              </ul>
	            </li>
	            <li>
	              <ul class="account-settings-nav">
	                <li>
	                  <h3>Configuraciones de la Cuenta</h3>
	                </li>
	                <li class="navlink personal-information"><a href="/" class="link">Informacion Personal</a></li>
	                <li class="navlink billing-shipping-address"><a href="/" class="link">Facturacion y envio Direccion</a></li>
	                <li class="navlink payment-settings"><a href="/" class="link">Ajustes de Pago</a></li>
	              </ul>
	            </li>
	            <li>
	              <ul class="order-history-nav">
	                <li>
	                  <h3>Historial de Pedidos</h3>
	                </li>
	                <li><a href="/">Mira tu historial de pedidos</a></li>
	              </ul>
	            </li>
	            <li>
	              <ul class="wish-list-nav">
	                <li>
	                  <h3>Lista de Deseos</h3>
	                </li>
	                <li><a href="/">Modifica e Invita amigos</a></li>
	              </ul>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </nav>
	  </div>
	</div>
</script>


{% endverbatim %}