#footer
	background #f4f4f4
	padding-top 3em
	.footer-email
		width 360px
	#submit_form_email
		position relative		
		.email_input
			position absolute
			width 90%
			input
				background #ececec
				border 1px solid #ccc
				padding 25px 20px
				color #111
		.email_submit
			position absolute
			right 0			
			width 10%
			button
				background #111
				border none
				color #fff
				line-height 0px
				padding 18px 20px
				&:hover
					background rgba(0,0,0,.6)
	.footer-block-menu
		.nav
			li
				margin-bottom 5px
				a
					padding 0
					font-size 0.9em
					&:hover
						text-decoration underline
						background none
	.bloque_social
		overflow hidden
		ul			
			float right	
		li
			display inline-block
			margin 10px 10px
			span
				font-size 1.5em
	.pie_pagina
		border-top #dddddd 1px solid
		padding-top 5px
		font-size 0.8em
		padding-bottom 20px
		