.catalogo
	.titulo
		small
			display block
			font-size 0.5em
			.icono-triangulo-left,.icono-triangulo-right
				display inline-block
				background #111
				height 3px
				width 20px
				margin 5px
	.refinar
		font-weight bold
		width 100%
	.section-refinamiento
		display none
		ul
			list-style none
			padding 0
			margin 0
			li
				a
					padding 4px 5px 1px
					text-transform uppercase
					font-size 0.8em
		.refinement
			li		
				display inline-block		
				a
					display inline-block
					&.activo
						background #111
						color #fff
						text-decoration none
		.Categoria
			li
				width 100%
		.Color
			li
				a
					width 140px
				.color-hex
					width 15px
					height 15px
					display inline-block
					border-radius 15px
				
		.Talla
			li
				a
					margin 2px 5px
					border 1px solid #111
					width 55px
					text-align center
