.catalogo
	.titulo
		small
			display block
			font-size 0.5em
			.icono-triangulo-left,.icono-triangulo-right
				display inline-block
				background #111
				height 3px
				width 20px
				margin 5px
	.section-refinamiento
		ul
			list-style none
			padding 0
			margin 0
			li
				a
					padding 4px 5px 1px
					text-transform uppercase
					font-size 0.8em
		.Color
			li
				width 140px
				display inline-block
				a
					
					&.activo
						background #111
						color #fff
						text-decoration none
	.section-main
		border-right 1px solid #eee