div#home-section-a
	div.row.margin-bot-0
		div.col-xs-12.text-center.sale-banner
			a(href="/").link
				p.font-good-headline.all-caps.margin-top-0.margin-bot-0.font-white.font-12.letter-space-2
					strong.margin-top-0.margin-bot-0 Dias de ofertas
					p Ahorra hasta un 30% en moda de primavera y Verano listo por tiempo limitado
					span.btn.border-gold-white-btn.font-italic visitar tienda
	section#homepage-carousel
	section#home_ofertas.carrusel
		h2 Ofertas en Loviz DelCarpio
			span.linea
		div.lista-productos
			
	section#home_best_seller.carrusel
		h2 Lo mas Vendido en Loviz DelCarpio
		div.lista-productos
	
