.header-account.sidebar
	h1 Bienvenido
	div.grid_1
		div.login-box.login-account
			h2.section-header.active Ingresa a cuenta existente
			div.login-box-content.returning-customers.clearfix
				p Si usted esta registrada en LovizDelCarpio.com, porfavor ingresa su email y contraseña.
				form#dwfrm_login.clearfix(action="form-login",method="post")
					fieldset
						div.form-row.required
							label *Correo Electronico
							input.form-control.input-text.email.email-input.required(type="text")
						div.form-row.required
							label *Contraseña
							input.form-control.input-text-pw.password-input.required(type="password")
						div.form-row.remember-password
							div.form-row.label-inline.checkbox
								label.dwfrm_login_rememberme Recordarme
									input.input-checkbox(type="checkbox")									
							a(href="/") ¿Olvido su contraseña?
						div.form-row.form-row-button
							button(type="submit",value="ingresar").button Ingresar							
	div.grid_2
		div.login-box.login-create-account.clearfix
			h2.section-header Nuevo Cliente
			div.login-box-content.clearfix
				p ¿Tienes unos segundos para registrarte? Esto hara su compras mas rapidas en LovizDelCarpio.com y podras hacer seguimiento de tus pedidos.