div#primary.primary-content.full-with
	div#pdpMain.product--main.pdp-main
		div.container.flexcontainer
			div.product-col-1.product-image-container
				div.fotos_productos
					div#thumbnails.product-thumbnails
						ul
							li.thumb.selected
								div.thum_img
									img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=86&sh=96&sm=fit")
							li.thumb.selected
								div.thum_img
									img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=86&sh=96&sm=fit")
							li.thumb.selected
								div.thum_img
									img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=86&sh=96&sm=fit")
					div#imagen_primary
						figure
							img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=1290")
				div.fotos_productos_mobil
					div
						img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=1290")
					div
						img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=1290")
					div
						img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=1290")
			div.product-col-2.product-detail
				h1.product-name
					span.product-name-gender Mujer
					span Este es El titulo 
				div.categorias_productos
					a(href="/").btn.btn-default Pantuflas
					a(href="/").btn.btn-default Scuffs
				div.product-content
					div.precios
						div.precios_old S/. 20.00
						div.precio_actual S/. 12.00
					div.product-review-links
						div.pr-snippet-wrapper
							div.pr-snippet-stars
								div.estrellas
									span.estrella.icon-star
									span.estrella.icon-star
									span.estrella.icon-star
									span.estrella.icon-star
									span.estrella.icon-star
							div.pr-snippet-read-write
								div.num_estrellas
									span.ratio 4.5
									div.pr-snippet-read-reviews (45)
									div.pr-snippet-write-review Escribe un Comentario
					div.product-variations
						div.variacion_color
							div.color_titulo.label Color Seleccionado:
								span.selectedColor Fuscia
							div.color_valor
								ul.swatches_Color
									li.selected
										figure
											a(href="/")
												img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=86&sh=96&sm=fit")
									li
										figure
											a(href="/")
												img(src="http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAFF_PRD/on/demandware.static/-/Sites-masterCatalogUgg/default/dweccc64ba/images/amazon/large/3236-CHE_2.jpg?sw=86&sh=96&sm=fit")
						div.variacion_talla
							div.sizes-title.label Tallas Disponibles:
								select.tallas_form.form-control
									option(value="") Seleccina una talla
									option(value="2") 35-36
									option(value="2") 37-38
					div.product-add-to-cart
						form.addtocart
							button#addtocart(type="submit",value="Selecciona una talla" disabled="disabled")
								span Selecciona una talla
		section#product-sub-details-anchor.product-sub-details
			div.container
				div.product-long-description
					h2 Detalles
					p Beautiful scallop seaming modernizes this luxe over-the-knee boot and elongates the leg. Crafted from sumptuous Twinface sheepskin and suede, the Samantha sits on a modern crepe outsole, cushioning insole, and slight stacked heel for comfort and contemporary style.
					ul
						li  Twinface sheepskin and suede 
						li  Twinface sheepskin and suede 
						li  Twinface sheepskin and suede 
						li  Twinface sheepskin and suede 
						li  Twinface sheepskin and suede
				div.product-fit.segundo_producto
					div
						img(src="https://smassets.stevemadden.com/content/styletips/2015/promo/styletip-US_2015.08.07_SMFREE50.gif")
		section#producto-asociado.container
			h2 Tambien te podria gustar
			div.lista-productos

		section#recomendation-producto.container
			h2 Comentarios
				button.btn.btn-default.btn-contraste
					span Escribe un Comentario
			div.rw-control-bar.rw-filter
				div.rw-contador
					span 1-4 de 97 Comentarios
				div.rw-sort
					span Ordenar
					span.icono #
					ul.mostrar-ordenar
						li
							span(data="mas-relevante") Mas Relevante
						li
							span(data="mas-ayuda") Que mas Ayudo
						li
							span(data="mayor-rating") Mayor Puntuacion
						li
							span(data="menor-rating") Menor Puntuacion
						li
							span(data="mas-reciente") Mas Reciente
			div.reviews-lista
				article
					div.review-header
						div.rw-author-avatar
							figure
								span Avatar
						div.rw-author-summary
							div.rw-content-header
								div.estrellas
									span.estrella #
									span.estrella #
									span.estrella #
									span.estrella #
									span.estrella #
								div.rw-content-nombre
									span.nombre Gabbi
									span.time 15 days ago
								div.rw-content-titulo
									h4.rw-titulo Confortable y estilos
							div.rw-content-sumary-body
								p I love these they are the best casual sneakers!!!!
								div.rw-data
									div.rw-categoria
										span.icono #
										span.cate Casual
										span.cate Cute
										span.cate Style
									div.recomentacion-value
										dt.label-recomendacion
											span.icono #
											span.value-recomendacion Si,
										dd.rw-recomendacion-content Yo recomiendo este producto
							div.rw-helps
								div.feedback-help
									strong Te ayudo?
									div.feedback-yes
										span.label-feedback Yes
										span.num-feedback 0
									div.feedback-yes
										span.label-feedback No
										span.num-feedback 0
										




