#error_page
	background-image url('../imgs/error_page.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-size cover
	overflow hidden
	min-height 600px
	position relative
	color #fff
	font-family f_imprenta
	text-transform uppercase
	font-weight 700
	.cobertura
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background rgba(0,0,0,0.2);
		z-index -1
	.errorTitle
		font-size 20px
		margin 15px 0
	.errorsenti
		font-size 30px		
	.reallyLoud
		font-size 80px
		line-height 80px
	.explicacion
		font-size 20px
		